/**
* Lightbox
*/

/*.menu {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: auto;

}*/

::backdrop {
    background-color: chocolate
    ;



}

:modal {
    border: 2px solid blue;
}
.image{
    
}