/**
* Lightbox
*/


::backdrop {
    background-color: rgba(128, 60, 12, 0.443);
}

:modal {
    border: 3px solid rgb(30, 30, 163);
    border-radius: 10px;
    display: flex;
    width: max-content;

}

.image {}